.container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18rem;
    padding: 20px;

    text-align: center;
    background: #0eb8bc;
    border: 1px solid dimgray;
    border-radius: 5px;

}
.output {
    margin-bottom: 2rem;
}
input {
    text-align: right;
    width: 150px;
    height: 30px;
    font-size: 25px;

}
button {
    margin: 4px;
    width: 4rem;
    background: #9de9c4;
    border-radius: 5px;
}